---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}

    <style>
      /* Add CSS styles here */
      body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow-x: auto; /* Enable horizontal scrolling */
      }
      .content {
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px; /* Adjust padding as needed */
      }
    </style>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="content">
      {{ content }}
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
